#add-form {
  width: 25%;
  margin: auto;
  /* font-family: "Fira Code", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  font-size: 14px;
}

#add-form .field {
  margin-bottom: 10px;
}

#add-form .field label {
  margin-right: 5px;
}

/* TODO: Fix */
#add-form input[type="submit"] {
  text-align: center;
}

#add-form .field textarea {
  max-height: 15px;
  font-size: 13px;
}
