header {
  /* background-image: url("../imgs/bg-monstera-6238107.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: black; */

  background-color: #f3f3f3;
  color: black;
  height: 17vh;

  /* background-color: black;
  color: white; */
  /* height: 22vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#title-container {
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

#header-title {
  margin-left: 2rem;
  font-size: 2.3rem;
  font-weight: 400;
}

@media screen and (max-width: 350px) {
  #header-title {
    font-size: 2rem;
  }
}
