.pages ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.pages li {
  margin: 0 0.5vw;
}

.pages .btn {
  color: white;
  background-color: black;
  border-radius: 2rem;
  width: 2rem;
  height: 2rem;
  margin-right: 5px;
  padding: 0;
}

.pages .btn:hover {
  background-color: rgb(76, 76, 76);
}
