#task-count {
  text-align: center;
  /* font-family: "Fira Code", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
}

#show-tasks div {
  display: flex;
  justify-content: center;
}

#show-tasks ul li {
  font-size: 14px;
  /* font-family: "Fira Code", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
}

.task-item ul li {
  list-style-type: none;
}

.task-item li {
  padding-bottom: 1vh;
}

.task-item {
  padding-bottom: 2.2vh;
}
