@import url("./pages.css");
@import url("./todo-item.css");

#tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#task-count {
  text-align: center;
}

#task-items {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2rem 2rem;
  width: 75%;
  margin: 3rem 0;
}

@media screen and (max-width: 600px) {
  #task-items {
    grid-template-columns: auto auto;
    justify-content: center;
  }
}

@media screen and (max-width: 420px) {
  #task-items {
    grid-template-columns: auto;
    justify-content: center;
  }
}

#task-items ul {
  list-style-type: none;
  font-size: 0.9rem;
}
