@import url("./pages.css");

#task-count {
  text-align: center;
  margin: 1rem 0;
}

#task-items {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
}

#task-items ul li {
  font-size: 0.9rem;
  list-style-type: none;
}

.task-item li {
  padding-bottom: 1vh;
}

.task-item {
  margin: 1.5rem;
}
