<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Show Task List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../css/tasklist.css"
    />
  </head>
  <body>
    <p><h2 style="text-align: center;">Your tasks:</h2></p>
    <div>
      <ul id="#task-list">
        <!-- TODO: FetchTasks (not onload because it should be loaded once) ... -->
      </ul>
    </div>
    <script src="js/tasklist.js"></script>  
  </body>
</html>
